<a href="https://colab.research.google.com/github/Bindu-Samala/Python-Basics/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Day** **1**

In [ ]:
print("Hello world",7,"Bindu")
print(5)
print(20*20)

Hello world 7 Bindu
5
400

comments,escape sequences

In [ ]:
# new line
'''ths is a multiline comment
you know'''
"""this is also a multi line
comment"""
print("this is previous line\nthis is a next line") #contionus comment
print("She is the \"lawyer\"")

this is previous line
this is a next line
She is the "lawyer"

Separator,end

In [ ]:
print("Hey",6,7,sep="-")
print("Hey",6,7,sep="-",end="***")

Hey-6-7
Hey-6-7***

Variables,Data Types

In [ ]:
a=1232,
a1=12.2
a2=complex(8,2)
print(type(a),type(a1),type(a2))
b="Bindu Samala"
print(type(b))
c=True
print(type(c))
d=None
print(type(d))
print(a,b,c,d)

<class 'tuple'> <class 'float'> <class 'complex'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>
(1232,) Bindu Samala True None

In [ ]:
#list is a collection of data elements of different types and list is mutable
l1=[5,"bindu",[2,3,4],["hey","hi"]]
print(l1)
print(type(l1))
#tuple is immutable
t1=("Hi","hello",1,"Hi")
print(t1)
#dictionary
d1={"name":"Bindu","college":"NITRR","instittue":9}
print(d1)

[5, 'bindu', [2, 3, 4], ['hey', 'hi']]
<class 'list'>
('Hi', 'hello', 1, 'Hi')
{'name': 'Bindu', 'college': 'NITRR', 'instittue': 9}

Operators

In [ ]:
print(10+2) #addition
print(10-2) #subtraction
print(10*2) #multiplication
print(11/2) #division
print(11//2)  #floor division
print(11%2) #modulus
print(2**5) #exponentiation

12
8
20
5.5
5
1
32

TypeCasting

In [ ]:
# str() int() float() hext() oct() list() tuple() #dict set() ord()
a="26"
b=2
print(int(a)+b) #explicit typecasting
c=1.9
d=8
print(c+d)#implicit type casting gives float

28
9

User Input

In [ ]:
# a=input("Enter your name")
# print(a)
b=int(input())
c=float(input())
print(b+c)

5
4
9.0