<a href="https://colab.research.google.com/github/Bindu-Samala/Python-Basics/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List

Lists are mutable,elements are separated by comma,can contain multiple data types elements

In [8]:
l=[3,5,6,9,0,0,1]
print(l)
print(type(l))
#positive indexing
print(l[2])
#negative indexing
print(l[-3])
#print all
print(l[:])

[3, 5, 6, 9, 0, 0, 1]
<class 'list'>
6
0
[3, 5, 6, 9, 0, 0, 1]

In [7]:
#checking an element present in list
a=["Bindu","Hi",9,3,5]
if 9 in a:
  print("Yes")
else:
  print("No")

Yes

List Comprehension
they are used for creating new lists from other iterables like lists,tuples,dictionaries,sets,a dn even in arrays and strings
**Syntax**
List=[Expression(item) for item in iterable if Condition
]

In [12]:
lst=[i*i for i in range(4)]
print(lst)
lst=[i*i for i in range(10) if i%2==0]
print(lst)

[0, 1, 4, 9]
[0, 4, 16, 36, 64]

List Methods

In [19]:
#appending element to list
l=[1,8,4,2,1,7,9]
l.append(100)
print(l)
#sort the list
l.sort()
print(l)
l.sort(reverse=True)
print(l)
#reverse the list
l=[3,6,9,1,5]
l.reverse()
print(l)

[1, 8, 4, 2, 1, 7, 9, 100]
[1, 1, 2, 4, 7, 8, 9, 100]
[100, 9, 8, 7, 4, 2, 1, 1]
[5, 1, 9, 6, 3]

In [21]:
#get the index of element in list
#index() returns the first occuurence of element
l=[11,2,2,2,2,2,1,1,1,1,3,4,5,6]
print(l.index(3))
#count() returns the number of items with the given value
print(l.count(2))

10
5

In [23]:
#copy() returns copy of the list.This can be done to perform operations on the lsit with out modifying the list
l=[11,2,3,5,2,6,8,9]
print(l)
# m=l
# m[0]=0
print(l)
k=l.copy()
print(l,k)

[11, 2, 3, 5, 2, 6, 8, 9]
[11, 2, 3, 5, 2, 6, 8, 9]
[11, 2, 3, 5, 2, 6, 8, 9] [11, 2, 3, 5, 2, 6, 8, 9]

In [27]:
#insert() method inserts an item at the given index
l=[2,3,4,5,6]
l.insert(0,1)
print(l)
#extend() adds an entire list to any other collection datatype(set,tuple,dictonary) to exixting list
m=[78,6,7,34]
l.extend(m)
print(l)
#concatenate two lists
l=[2,3,4,5,6]
k=l+m
print(k)
print(l)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 78, 6, 7, 34]
[2, 3, 4, 5, 6, 78, 6, 7, 34]
[2, 3, 4, 5, 6]

In [30]:
#remove last element from list using pop()
m=[78,6,7,34]
m.pop()
print(m)
#remove any element by index
m.pop(2)
print(m)

[78, 6, 7]
[78, 6]