<a href="https://colab.research.google.com/github/Bindu-Samala/Python-Basics/blob/main/MapReduceFilter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

lambda function is a small anonymous function with out a name.It is defined using the lambda keyword

lambda arguments:expression

In [6]:
# def double(x):
#   return x*2
double=lambda x:x*2
print(double(5))
cube=lambda x:x*x*x
print(cube(5))
avg=lambda x,y:(x+y)/2
print(avg(4,6))

10
125
5.0

The map function applies a function to each element in a sequence and returns a new sequence containing the transformed elements.

syntax:

map(function,iterable)

In [11]:
def cube(x):
  return x*x*x
l=[1,2,4,6,9,3]
newl=list(map(cube,l))
print(newl)

[1, 8, 64, 216, 729, 27]

filter function filters a sequence of elements based on a given predicate(a function that returns a boolean value) and returns a new sequence containing only the elements that meet the predicate.

syntax:

filter(predicate,iterable)

In [13]:
def filter_function(a):
  return a>4
newnewl=list(filter(filter_function,newl))
print(newnewl)

a=list(filter(lambda x:x>10,newl))
print(a)

[8, 64, 216, 729, 27]
[64, 216, 729, 27]

reduce function is a higher order function that applies a function to a sequence and returns a single value.

syntax:

reduce(function,iterable)

In [15]:
from functools import reduce
numbers=[1,2,3,4,5]
sum=reduce(lambda x,y:x+y,numbers)
print(sum)

15