<a href="https://colab.research.google.com/github/Bindu-Samala/Python-Basics/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Duplicate elements are not allowed,Sets are unchangeable,meaning you can not change the items of the set once created.
Sets are unordered collection of data items

In [4]:
s={2,4,2,3,False,"apple"}
print(s)

{False, 2, 3, 4, 'apple'}

In [6]:
s={}
print(type(s))
#to make an empty set
a=set()
print(type(a))

<class 'dict'>
<class 'set'>

Accessing the set elements

In [12]:
a={1,4,7,3,5,7}
for i in a:
  print(i)

1
3
4
5
7

Set Methods

In [18]:
#union() method returns anew set whereas update() method adds item into the existing set
s1={1,2,3,4,5,6}
s2={6,7,8,9,10}
print(s1.union(s2),s1,s2)
s1.update(s2)
print(s1)
#intersections() of two sets
print(s1.intersection(s2))
#symetric_difference symetric_difference_update()
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10} {1, 2, 3, 4, 5, 6} {6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{1, 2, 3, 4, 5}

In [19]:
#difference() difference_update()
c1={"A","B","C","D"}
c2={"D","E","F"}
print(c1.difference(c2))

{'B', 'A', 'C'}

In [22]:
a={1,2,3,5,6,7}
b={2,3,6,7}
print(a.isdisjoint(b))
print(a.issuperset(b))
print(b.issubset(a))

False
True
True

In [31]:
#add() to add one element to set
a={2,3,4,5,6,7}
a.add(23)
print(a)
#update() to add more than one element
a.update({22,24,25})
print(a)
#remove() raises an error if element not present in set whereas discard not
a.remove(24)
print(a)
#pop() to remove last element(as sets are unordered ran dom value is deleted)
a.pop()
print(a)

{2, 3, 4, 5, 6, 7, 23}
{2, 3, 4, 5, 6, 7, 22, 23, 24, 25}
{2, 3, 4, 5, 6, 7, 22, 23, 25}
{3, 4, 5, 6, 7, 22, 23, 25}

In [36]:
#del is a keyword which deletes the entire set
a={2,3,4,54,6}
del a
#print(a)
#clear() removes all items in set and returns empty set
a={1,2,3,4,5,67,8,9}
a.clear()
print(a)

set()