<a href="https://colab.research.google.com/github/Bindu-Samala/Python-Basics/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuples are immutable  and contains elements of different data types

In [2]:
tup=(1,4,5,"green")
print(type(tup),tup)
tupl=(1,)
# tupl[0]=2 gives error
print(type(tupl),tupl)

<class 'tuple'> (1, 4, 5, 'green')
<class 'tuple'> (1,)

In [4]:
#Accessing the elements
t=(7,6,549,32)
print(t[0],t[1],t[2])
print(t[-1])

7 6 549
32

In [9]:
if 32 in t:
  print("Yes")
t1=t[1:3]
print(t1)
print(t[:])

Yes
(6, 549)
(7, 6, 549, 32)

Tuples Methods

In [11]:
#in order to manipulate tuples,they can be changed to list and perform operations and convert back to tuples
countries=("Spain","Italy","India","England")
temp=list(countries)
temp.append("Russia")
temp.pop(3)
countries=tuple(temp)
print(countries)

('Spain', 'Italy', 'India', 'Russia')

In [17]:
#merge two tuples
countries1=("Vietnam","China","India")
s=countries+countries1
print(s)
#count() method returns the numbercof times the given element appears in the tuple
print(s.count("India"))
#index() returns the first occrrence of the given element
print(s.index("India"))
#len()
print(len(s))

('Spain', 'Italy', 'India', 'Russia', 'Vietnam', 'China', 'India')
2
2
7